#calculator{
    border: 15px solid rgb(187, 183, 183);
    border-radius: 5px;
    width: 250px;
    background-color:aquamarine;
}

#display{
    margin: 20px;
    width:205px;
    height: 25px;
    font-size: 20px;
    font-weight: 100;
    background-color:aliceblue;
    

}
.button-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3px;
    background-color:chartreuse;
}

.button{
    width: 45px;
    height: 45px;
    margin: 10px;
    background-color:cyan;
    font-style: bold;
    font-weight:800;
}